	<div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Course categories</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a  href="/business">
						<div class="services">
							<span class="icon">
								<i class="icon-shop"></i>
							</span>
							<div class="desc">
								<h3><a href="/business">Business</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a href="/health-psychology">
						<div class="services">
							<span class="icon">
								<i class="icon-heart4"></i>
							</span>
							<div class="desc">
								<h3><a href="/health-psychology">Health &amp; Psychology</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a href="/accounting">
						<div class="services">
							<span class="icon">
								<i class="icon-banknote"></i>
							</span>
							<div class="desc">
								<h3><a href="/accounting">Accounting</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a href="/it-software">
						<div class="services">
							<span class="icon">
								<i class="icon-lab2"></i>
							</span>
							<div class="desc">
								<h3><a href="/it-software">IT &amp; Software</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a href="/art-media">
						<div class="services">
							<span class="icon">
								<i class="icon-photo"></i>
							</span>
							<div class="desc">
								<h3><a href="/art-media">Art &amp; Media</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a href="/office-productivity">
						<div class="services">
							<span class="icon">
								<i class="icon-home-outline"></i>
							</span>
							<div class="desc">
								<h3><a href="/office-productivity">Office Productivity</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a href="/language-lifestyle">
						<div class="services">
							<span class="icon">
								<i class="icon-bubble3"></i>
							</span>
							<div class="desc">
								<h3><a href="/language-lifestyle">Language &amp; Lifestyle</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a href="/web-programming">
						<div class="services">
							<span class="icon">
								<i class="icon-world"></i>
							</span>
							<div class="desc">
								<h3><a href="/web-programming">Web &amp; Programming</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a href="/design">
						<div class="services">
							<span class="icon">
								<i class="icon-bubble3"></i>
							</span>
							<div class="desc">
								<h3><a href="/design">Design</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<a href="/music">
						<div class="services">
							<span class="icon">
								<i class="icon-bubble3"></i>
							</span>
							<div class="desc">
								<h3><a href="/music">Music</a></h3>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>