<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Elearning Site by Init</title>

	
	<!-- Animate.css -->
	<link rel="stylesheet" href="stylesheets/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="stylesheets/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="stylesheets/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="stylesheets/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="stylesheets/flexslider.css">

	<!-- Pricing -->
	<link rel="stylesheet" href="stylesheets/pricing.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="stylesheets/style.css">

	<!-- Modernizr JS -->
	<script src="javascripts/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="javascripts/respond.min.js"></script>
	<![endif]-->

	</head>