	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><img src="/images/logo.png" width="80px", height="48px"></a></div>
					</div>

						{{#if user}}
							<h3>Welcome back, {{user.username}}</h3>
							<div class="col-xs-10 text-right menu-1">
								<ul>
									<li class="active"><a href="/">Home</a></li>
									<li><a href='/users/classes'>My Classes</a></li>
									<li><a href="/classes">All Classes</a></li>
									<li><a href="/users/{{_id}}/wishlist">Wishlist</a></li>
                                    <li class="has-dropdown">
                                        <a href="#">Account</a>
                                        <ul class="dropdown">
                                            <li><a href="/users/upload">Change Picture</a></li>
                                            <li><a href="/users/edit">Edit Details</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Account Security</a>
                                        <ul class="dropdown">
                                            <li><a href="/users/changepw">Change Password</a></li>
                                            <li><a href="/users/forgotpw">Forgot Password</a></li>
                                            <li><a href="/users/2fauth">Enable Two Auth</a></li>
                                        </ul>
                                    </li>
									<li class="btn-cta"><a href="/users/logout"><span>Logout</span></a></li>
								</ul>
							</div>
						{{else}}
							<div class="col-xs-10 text-right menu-1">
								<ul>									
									<li class="active"><a href="/">Home</a></li>
									<li><a href="/classes">Classes</a></li>
									<li><a href="/teacher">Teacher</a></li>
									<li class="btn-cta"><a href="/users/login"><span>Login</span></a></li>
								</ul>
							</div>
						{{/if}}
				</div>
				
			</div>
		</div>
	</nav> 