		{{{message}}}
		{{#if errors}}
			{{#each errors}}
				<div class="notice error">
					<i class="icon-remove-sign icon-large"></i>
					{{msg}}
					<a href="#close" class="'icon-remove'"></a>
				</div>
			{{/each}}
		{{/if}}