<!DOCTYPE HTML>
<html>
		{{>header}}
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		{{!-- this is the start of nav bar --}}
		{{>navbar}}
	{{!--  end of nav bar --}}
    
    this is the page for 2FAuth

		{{>footer}}
	</body>
</html>