<!DOCTYPE HTML>
<html>
		{{>header}}
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		{{!-- this is the start of nav bar --}}
		{{>navbar}}
	{{!--  end of nav bar --}}

		{{!-- error message --}}
		{{{message}}}
		{{#if errors}}
			{{#each errors}}
				<div class="notice error">
					<i class="icon-remove-sign icon-large"></i>
					{{msg}}
					<a href="#close" class="'icon-remove'"></a>
				</div>
			{{/each}}
		{{/if}}
	{{!-- end of error message --}}

{{#if user.role==student}}

		{{!--  this is the slider bar part --}}
		{{>index}}
	{{!--  end of slider bar --}}

		{{!-- this is start of some stand Along Course --}}
		{{>courses}}
	{{!-- end of some stand Along Course --}}

		{{!--  this is the start of Course Categories --}}
		{{>categories}}
	{{!--  end of Course Categories --}}

{{elseif user.role==tutor}}

		{{!--  this is the slider bar part --}}
		{{>index}}
	{{!--  end of slider bar --}}

		{{!-- this is start of some stand Along Course --}}
		{{>courses}}
	{{!-- end of some stand Along Course --}}

		{{!--  this is the start of Course Categories --}}
		{{>categories}}
	{{!--  end of Course Categories --}}

{{else}}

		{{!--  this is the slider bar part --}}
		{{>index}}
	{{!--  end of slider bar --}}

		{{!--  this is the start of Course Categories --}}
		{{>categories}}
	{{!--  end of Course Categories --}}

		{{!-- this is the start of total number of students, teacher, and courses that we have --}}
		{{>withUs}}  
	{{!--  total number of students, teacher, and courses that we have --}}

		{{!-- this is start of some stand Along Course --}}
		{{>courses}}
	{{!-- end of some stand Along Course --}}

		{{!-- Call to register --}}
		{{>register}}
	{{!-- End of register --}}

{{/if}}

		{{>footer}}
	</div>
	</body>
</html>